{% extends 'base.html.twig' %}

{% block body %}

<P>
{{'information-about-this-site-page.description-01'|trans}} <br><br>
{{'information-about-this-site-page.description-02'|trans}} 
{# z wykorzystaniem bazy danych MySQL oraz Doctrine ORM. #}

{# Dodatkowo, zaimplementowane zostało API w oparciu o API Platform.  #}
{# Testy jednostkowe zostały przeprowadzone za pomocą PHPUnit." #}
 </P>

<center>
     <a href="https://github.com/MarekBartocha/portfolio" target="blank">{{'repo'|trans}}</a>
</center>
{% endblock %}
