{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h1>Polityka prywatności</h1>
</center>

<p>
    Na mojej stronie zbieram anonimowe statystyki dotyczące ruchu na stronie.
    W szczególności zapisuję <strong>anonimizowane adresy IP</strong>, gdzie ostatnia część adresu jest usuwana,
    co uniemożliwia identyfikację pojedynczej osoby.
</p>

<p>
    Dzięki temu mogę zliczać liczbę <strong>unikalnych odwiedzających</strong> (pojedynczych, anonimowych użytkowników),
    którzy odwiedzają moją stronę, bez zbierania żadnych danych osobowych.
</p>

<p>
    Statystyki te pomagają mi zrozumieć, jak użytkownicy korzystają z serwisu i pozwalają na poprawę jakości mojej strony.
</p>

<p>
    Nie przechowuję ani nie udostępniam żadnych danych umożliwiających identyfikację użytkownika.
</p>
{% endblock %}
