{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'home-page.contact' |trans}}</h1></center>

<div class="container intro mt-4 text-center">
   <h2>marek-bartocha@hotmail.com</h2>
   <h3><a href="https://www.linkedin.com/in/marek-bartocha-b1a82229b/" target="blank">Linkedin</a></h3>
</div>

{% endblock %}