{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'monitoring-whe-watchmans-work-page.title' |trans}}</h1></center>

<p>{{'monitoring-whe-watchmans-work-page.description-01' |trans}}</p>
<p>{{'monitoring-whe-watchmans-work-page.description-02' |trans}}</p>
<p>{{'monitoring-whe-watchmans-work-page.description-03' |trans}}</p>
  
{% endblock %}
