{% extends 'base.html.twig' %}


{% block body %}
<center>
<h1>{{'home-page.licenses-title'|trans}}</h1>
</center>
<p>{{ 'licenses-page.licenses'|trans }}</p>
<p>{{ 'licenses-page.licenses-sources'|trans }}</p>
<ul>
    <li>https://www.freepik.com</li>
</ul>
{% endblock %}
