{% extends 'base.html.twig' %}

{% block body %}
   <center><h1>{{ topic.name }}</h1></center>

   {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{ message }}</div>
   {% endfor %}




 






{% endblock %}
